/**
 * ================ D I A R Y ================
 * Script written by Istomin Mikhail
 * PoweredDeveloper <https://github.com/PoweredDeveloper>
 * Repository <https://github.com/PoweredDeveloper/school-diary>
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Background */
  .body-bg:before {
    @apply absolute bottom-0 right-0 w-full h-full;
    z-index: -1;
    background: radial-gradient(circle at 100% 100%, rgba(118, 166, 255, 0.2) 0%, var(--background) 60%);
    content: "";
  }

  .body-bg:after {
    @apply absolute bottom-0 right-0 w-full h-full;
    z-index: -1;
    background: radial-gradient(circle at 0% 0%, rgba(255, 255, 255, 0.05) 0%, rgba(0,0,0,0) 60%);
    content: "";
  }

  .accent-btn {
    @apply px-6 py-2 bg-foreground rounded-xl text-background text-xl font-semibold cursor-pointer transition-colors hover:bg-[#c7c7c7];
  }

  /* Underline Button */
  .underline-btn {
    @apply relative cursor-pointer;
  }

  .underline-btn:after {
    @apply absolute w-[105%] left-[-2.5%] bg-[#444444] scale-x-0 rounded-full transition-colors;
    content: '';
    height: 3px;
    bottom: -5px;
    transform-origin: bottom right;
    transition-property: transform, background-color;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .underline-btn:hover:after {
    @apply scale-x-[1] cursor-pointer bg-foreground;
    transform-origin: bottom left;
  }
}

:root {
  --background: #0f0f0f;
  --foreground: #D9D9D9;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
